body{
	padding-top: 70px;
	background-color: #FEFEFE;
}
.login_form{
	width: 30%;
	padding-top: 130px;
}
.login_image{
	width: 32px;
	height: 32px;
}
.brand_image{
	width: 16px;
	height: 16px;
}
.login-error{
	font-size: 12px;
	color: #FF0033;
}
.success-label{
	font-size: 12px;
	color: #00CC00;
}
.profile-well{
	width: 40%;
}